<body id='body'>

	<div class='home1'>

<div class="home-title">
	<h1>Welcome to Fulton's CoffeeHaus</h1>
	<h3>Home of Philadelphia's finest German coffee beans</h3>
	<p>No matter your favorite flavor, we've got you covered!</p>
	<a href="/products">
	<div id="submitBtn">Shop Now </div>
	</a>
</div>

</div>

<div id='aboutSection'>
	<div id='aboutBox'>
		Learn more about the Fulton Family Roasters story
	</div>
	<a href="/about" >
	<div id='clickHereExplore'>
	Explore our History
	</div>
</a>
	
</div>


<div id='origins'>
	<div id='originsBox'>
	Learn more about the origins of the Fulton Family Roaster's beans
	</div>
	<a href='/products'>
	<div  id="clickHereBeans">
	Explore our Beans
	</div>
</a>

</div>

<div id='homeProducts'>
	<div id='homeHead'>Products
	</div>

</div>

<ul id='itemList'>
	<li><a href='/products'>Roasted Beans</a></li>
	<li><a href='/products'/>Cold Brew</a></li>
	<li><a href='/products'>Hot Coffee</a></li>
	<li><a href='/products'>Baked Goods</a></li>
</ul>


<div id="productsListing">
	<div id='product1Home'>
		<img id='productImage' src=<%= @o1.roastPic %> ></img>
		<div id='productName'> <%= @o1.productName %> </div>
	</div>
	<div id='product2Home'>
		<img id='productImage' src=<%= @o2.roastPic %>></img>
		<div id='productName'> <%= @o2.productName %></div>
	</div>
	<div id='product3Home'>
		<img id='productImage' src=<%= @o3.roastPic %>></img>
		<div id='productName'> <%= @o3.productName %> </div>
	</div>
	<div id='product4Home'>
		<img id='productImage' src=<%= @o4.roastPic %>></img>
		<div id='productName'> <%= @o4.productName %> </div>
	</div>
	<div id='product5Home'>
		<img id='productImage' src=<%= @o5.roastPic %>></img>
		<div id='productName'> <%= @o5.productName %> </div>
	</div>

</div>


<div id='footer'></div>
